
<mat-grid-list cols="2" *ngIf="!nutrientes; else divPlato">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>

</mat-grid-list>

<ng-template #divPlato>
  <h3> Nutrientes del plato</h3>

  <div>


  
    <mat-list role="list" *ngFor="let nut of nutrientes">
      <mat-list-item role="listitem">{{ nut.name}} : {{ nut.amount}} {{ nut.unit}}</mat-list-item>
    </mat-list>

    
    <div class="example-button-row">
      <a mat-raised-button [routerLink]="['/dashboard/listado']" color="primary">Regresar</a>
    </div>
  </div>
</ng-template>