<div fxLayout="column">
  <div>
    <h1>Buscador de platos</h1>
  </div>

  <div>
    <!-- <h3>Buscador  {{termino}} </h3>  -->
    <form fxLayout="column" fxLayoutAlign="center">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Buscador</mat-label>
        <input
          type="text"
          placeholder="Ingrese la comida a buscar"
          aria-label="Ingrese"
          matInput
          [(ngModel)]="termino"
          (input)="buscando()"
          [matAutocomplete]="auto"
          name="first"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="opcionSeleccionada($event)"
        >
          <mat-option *ngFor="let option of platos" [value]="option">
            {{ option.title }}
          </mat-option>

          <mat-option
            value=""
            *ngIf="platos.length === 0 && termino.trim().length > 0"
          >
            No se encontro nada con el termino {{ termino }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>  
</div>

<div>
  <form autocomplete="off" [formGroup]="miFormulario">
    <div fxLayout="row" fxLayoutGap="40">

      <div fxFlex="50" fxLayout="column">
        <!-- Nombre -->
        <mat-form-field fxFlex="100">
          <div>
            <label class=" col-form-label">Title</label>
            <div>
              <input matInput class="form-control" formControlName="title" />
            </div>
          </div>
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field>
          <div>
            <label class=" col-form-label">Preci</label>
            <div>
              <input matInput class="form-control" formControlName="price" />
            </div>
          </div>
        </mat-form-field>


        <!-- Nutrientes -->
        <div formGroupName="nutrition" fxLayoutGap="20">

          <mat-form-field>
            <label>calories</label>
            <div>
              <div class="input-group">

                <input matInput class="form-control" formControlName="calories">
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <label>fat</label>
            <div>
              <div class="input-group">

                <input matInput class="form-control" formControlName="fat">
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <label>protein</label>
            <div>
              <div class="input-group">

                <input matInput class="form-control" formControlName="protein">
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <label>carbs</label>
            <div>
              <div class="input-group">

                <input matInput class="form-control" formControlName="carbs">
              </div>
            </div>
          </mat-form-field>
        </div>

        <br>

        <button mat-raised-button color="primary">
          Agregar al menu
        </button>


      </div>

      <div fxFlex="50">

        <!-- imagen -->
        <div>
          <label>Imagen</label>
          <div>
            <img mat-card-avatar [src]="miFormulario.value['image']">
          </div>
        </div>

      </div>


    </div>
  </form>

</div>